header {
  display: flex;
  background-color: #ffffff;
  color: #838383;
  padding: 10px;
  text-align: left;
  position: relative;
  justify-content: center; /* Center items by default */
  flex-direction: column; /* Stack elements by default */
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  max-width: 100vw; /* Prevent content from exceeding the viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

#menu-toggle {
  display: none;
}

.menu-label {
  cursor: pointer;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  background: rgb(255, 255, 255);
  padding: 10px;
  display: inline-block;
  justify-content: left;
  position: absolute;
  top: 20px;   /* Adjust distance from the top */
  left: 30px;  /* Adjust distance from the left */
}

nav {
  display: none;  /* Hide nav initially */
  background-color: #ffffff;
  padding: 10px;
  text-align: left;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 70px;   /* Adjust distance from the top */
  left: 20px;  /* Adjust distance from the left */
}

#menu-toggle:checked + nav {
  display: flex;
  flex-direction: column;
  background-color: #cfcfcf;
  border-radius: 15px;
  justify-content: flex-start;
}


nav a {
  display: flex;
  color: #DD026A;
  text-decoration: none;
  padding: 10px;
  font-weight: 900;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  justify-content: flex-start;
}

@media (hover: hover) and (pointer: fine) {
  nav a:hover {
    background: #e2e2e2;
    border-radius: 17px;
  }
}

@media (min-width: 1390px) {
  .menu-label {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    top: 30px;
    position: relative;
    width: 100%;
    padding-right: 240px;
  }
  nav a {
    display: inline-block;
    margin: 0 15px;
    border-radius: 30px;
    padding: 15px;
    margin: 0 25px;
    white-space: nowrap;
  }
  header {
    flex-direction: row; /* Align items horizontally */
    justify-content: flex-start; /* Align items to the left */
    display: flex;
  }

  .logo-img img{
    margin-right: auto; /* Push everything else to the right */
  }

  .img-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 70px;
    border: 5px solid #a2a1a1;
    width: fit-content;
    margin-top: 0px;
  }


  .texto-pvz {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 2000px;
    margin: 30px auto;
    padding: 20px 10px;
  }
  
  .fotos img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
  }

  .mapa {
    padding-top: 40px;
    justify-content: center;
  }

  .mapa-p {
    display: none;
  }

  .ig2 {
    display: none;
  }

  .ig {
    display: flex;  /* or block, grid, depending on the layout */
    justify-content: center;
    align-items: center;
    padding-left: 95px;
    padding-top: 210px;
  }

  .tabela td {
    padding-left: 20px; /* Adds more space to the left of each cell */
    padding-right: 20px; /* Adds more space to the right of each cell */
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    justify-content: center;
  }

  .serv {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 4px solid #adabab;  /* Pink border */
    border-radius: 50px;        /* Rounded corners */
    padding: 30px;              /* Add some space inside the border */
  }

  .language-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
  }
  .language-toggle span {
    margin: 0 10px;
    cursor: pointer;
    color: #DD026A;
    font-family: "Poppins", sans-serif;
  }
  .active {
    font-weight: bold;
  }

}

.logo-img {
  display: flex;
  justify-content: center;
}

.logo-img img {
  width: 200px;  /* Set the image width */
  height: auto;  /* Maintain aspect ratio */
}

.img-servicos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 70px;
  border: 5px solid #a2a1a1;
  width: fit-content;
  margin-top: 0px;
}

@media (max-width: 1389px) {
  .img-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 70px;
    border: none;
    width: 97%;
    margin-top: 0px;
  }

  .texto-pvz {
    display: none;
  }

  .fotos {
    display: flex; /* Align images in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 16px; /* Space between images */
    padding: 20px 10px; /* Padding around the container */
    width: 100%; /* Full width */
    max-width: 100%; /* Ensure it doesn’t exceed the viewport width */
    height: 400px; /* Set a fixed height to the scrollable area (adjust as needed) */
    scroll-snap-type: x mandatory; /* Enable snap effect for horizontal scrolling */
    overflow-y: hidden;
  }
  
  .fotos img {
    width: 350px; /* Maintain aspect ratio */
    height: 350px; /* Fixed height for images */
    object-fit: cover; /* Ensure images fill the container without distortion */
    scroll-snap-align: center; /* Snap images to the center when scrolling */
    border-radius: 20px; /* Optional: Add rounded corners */
  }
  
  .mapa {
    display: none;
    max-width: 100%;
  }

  .mapa-p {
    padding-top: 40px;
    justify-content: center;
    max-width: 100%;
  }

  .horario {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    justify-content: center;
    padding-left: 100px;
    position: relative; /* This is important for the pseudo-element */
    flex-wrap: wrap;
    max-width: 40px;
  }
  
  .horario::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 57%; /* Adjust the width as needed */
    border-bottom: 3px solid #DD026A;
    padding: none;
    transform: translateX(30%);
  }

  .ig {
    display: none;
  }
  
  .ig2 img {
    width: 100px;
    height: auto;
    padding-bottom: 10px;
  }

  .tabela td {
    padding-left: 20px; /* Adds more space to the left of each cell */
    padding-right: 20px; /* Adds more space to the right of each cell */
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    justify-content: center;
  }

  .serv {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .language-toggle {
    position: absolute;
    top: 15px;  /* Reduced distance from top */
    right: 15px;  /* Reduced distance from right */
    background-color: #f0f0f0;
    padding: 5px 10px;  /* Reduced padding */
    border-radius: 15px;  /* Slightly smaller border-radius */
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);  /* Slightly softer shadow */
    display: flex;
    font-size: 14px;  /* Reduced font size */
  }
  
  .language-toggle span {
    margin: 0 8px;  /* Reduced margin */
    cursor: pointer;
    color: #DD026A;
    font-family: "Poppins", sans-serif;
  }
  
  .active {
    font-weight: bold;
  }

}

@media (max-width: 1220px) {
  .language-toggle {
    position: absolute;
    top: 15px;  /* Reduced distance from top */
    right: 15px;  /* Reduced distance from right */
    background-color: #f0f0f0;
    padding: 5px 10px;  /* Reduced padding */
    border-radius: 15px;  /* Slightly smaller border-radius */
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);  /* Slightly softer shadow */
    display: flex;
    font-size: 14px;  /* Reduced font size */
  }
}

@media (max-width: 400px) {
  html[lang="en"] .tabela td {
    font-size: 17px; /* Adjust font size as needed */
  }

}

.display-galeria {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: #838383;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 900;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
}

#galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack elements if needed */
}

.display-quem-somos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: #838383;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 900;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
}

#quem-somos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack elements if needed */
}

.display-contactos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: #838383;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 900;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

#contactos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack elements if needed */
}

.apresentacao {
  display: flex;
  flex-direction: column;   /* Stack paragraphs vertically */
  justify-content: center;  /* Centers the paragraphs horizontally */
  align-items: center;      /* Centers vertically if needed */
  text-align: center;       /* Ensures text inside is centered */
  width: 100%;              /* Full width to allow flex centering */
  padding-top: 40px;
  gap: 20px;               /* Add space between paragraphs */
}

.apresentacao p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;  
  line-height: 1.6;
  color: #333;
  max-width: 1000px;    /* Set a smaller max-width to reduce the paragraph width */
  width: 80%;          /* Ensures responsiveness while maintaining centering */
  padding: 20px;       /* Padding to add space inside */
  background-color: #f5f5f5;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow-wrap: break-word; 
}

.apresentacao p:last-child {
  margin-bottom: 40px;  /* Add space below the last paragraph */
}

footer {
  display: block;
  background-color: #DD026A;
}

.ctelefone img {
  width: 70px;
  height: auto;
  justify-content: center;
  object-fit: contain;
}

.telefone {
  text-decoration: none;  /* Removes underline */
  color: inherit;  /* Uses the same color as surrounding text */
  font-weight: bold;  /* Optional: change the weight of the font */
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  border-bottom: 3px solid #DD026A;  /* Adds a pink underline */
  margin-left: 30px;
  justify-content: center;
}

.ctelefone {
  display: flex;
}

.mapa {
  padding-top: 40px;
  justify-content: center;
}

.morada {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  margin-bottom: 30px;
}

.horario {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  justify-content: center;
  padding-right: 444px;
  position: relative; /* This is important for the pseudo-element */
  flex-wrap: wrap;
}

.horario::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 57%; /* Adjust the width as needed */
  border-bottom: 3px solid #DD026A;
}


.tabela table {
  border-spacing: 20px; /* Add space between columns */
  padding-right: 0px;
  justify-content: center;
}

.tabela {
  display: flex;
  flex-direction: row;
  padding-right: 36px;
  max-width: 100%;
  flex-wrap: wrap;
}

.footer-container {
  width: 100%;
}

.ft {
  text-align: center;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  font-size: clamp(20px, 5vw, 50px);
}

.info {
  font-size: clamp(10px, 1vw, 50px);
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* Makes sure padding and border do not affect the element's width/height */
}

.img-servicos {
  display: none;
}

.highlight {
  color: #DD026A;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}

.subtext {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.bold {
  font-size: 1.5em;
  font-weight: bold;
  color: #DD026A;
  margin: 2px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}

